/* Partie Gauche & Droite */

* {
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-weight: bold;
}
h4 {
    font-weight: bold;
}

/* Partie Gauche */

.col-left {
    background-color: #feca07; 
    text-align:center;
}

.col-left img {
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 4px solid #DAAF12;
}
.col-left h3 {
    background-color: #404040;
    color: #feca07;
    margin-inline-start: -15px;
    margin-inline-end: -15px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.contact-list {
    text-align: left;
    padding: 30px 0px 30px 15px;
    font-weight: bold;
    color: #514F47;
    margin-bottom: 0;
}
.contact-list-info {
    margin-bottom: 5px;
}

.a-propos {
    height: 600px;
    text-align: justify;
    padding: 10px 15px 0px 15px;
    color: #5D5843;
}

.fa-book-reader {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
}

.fa-film {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
}
.fa-desktop {
    margin-bottom: 10px;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
}



/* Partie Droite */

h1 {
    font-size: 50px;
}

.col-right {
    padding-left: 50px;
}
.name {
    color: #feca07;
}
.col-right h3 {
    font-size: 25px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #feca07;
    margin-bottom: 40px;
    padding-bottom: 5px;
}
.section-title {
    margin-inline-start: 15px;
}
h4 {
    color: #515151;
    font-size: 18px;
    font-weight: bold;
}
header {
    margin-top: 70px;
    margin-bottom: 100px; 
}

.border-header {
    width: 13%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #feca07;
}

.right-list li {
    display: flex;
}

ul{
    list-style-type: none;
    margin-bottom: 30px;
}

.text-right {
    color: #514F47;
}
.list-description {
    text-align: left;
    padding-right: 10px;
    color: #626262;
}

.poste {
    margin-bottom: 10px;
}
.span-recommandation{
    font-weight: bold;
}
.name-recommandation{
    margin-bottom: 10px;
    font-weight: bold;
}

.fa-dot-circle {
    color: #feca07;
}

.fa-graduation-cap {
    color: #feca07;
}
.fa-briefcase {
    color: #feca07;
}
.fa-pencil-alt {
    color: #feca07;
}

/* Media queries */


    @media screen and (max-width: 348px){

        body {
            font-size: 14px;
        }
        .container {
            margin: 0px;
            max-width: none;
        }
        header {
            margin-top: 40px;
            margin-bottom: 40px; 
        }
        .col-left h3 {
            font-size: 25px;
        }

        .a-propos {
            height: 250px;
        }

        .col-right {
            padding-right: 40px;
        }

        h1 {
            font-size: 30px;
        }

        h2 {
            font-size: 20px;
        }

        .col-right h3 {
            font-size: 17px;
        }

        .list-time {
            margin: 0px 0px 20px 0px;
            width: 80%;
        }

        .list-icon {
            width: 5px;
        }
    }

@media screen and (min-width: 348px) and (max-width: 766px) {

    body {
        font-size: 14px;
    }

    .container {
        margin: 0px;
        max-width: none;
    }

    header {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .col-left h3 {
        font-size: 25px;
    }

    .a-propos {
        height: 250px;
    }

    .col-right {
        padding-right: 40px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .col-right h3 {
        font-size: 20px;
    }

    .list-time {
        margin: 0px 0px 20px 0px;
        width: 80%;
    }

    .list-icon {
        width: 5px;
    }
}

@media screen and (min-width: 766px) and (max-width: 848px) {

    body {
        font-size: 15px;
    }

    .container {
        margin: 0px;
        max-width: none;
    }

    .col-left h3 {
        font-size: 20px;
    }

    .col-right h3 {
        font-size: 20px;
    }

    .a-propos {
        height: 750px;
    }

    .fa-book-reader {
        font-size: 60px;
    }

    .fa-film {
        font-size: 60px;
    }

    .fa-desktop {
        font-size: 60px;
    }
}
@media screen and (min-width: 848px) and (max-width: 920px) {

    body {
        font-size: 15px;
    }

    .container {
        margin: 0px;
        max-width: none;
    }

    .col-left h3 {
        font-size: 20px;
    }

    .col-right h3 {
        font-size: 20px;
    }

    .a-propos {
        height: 700px;
    }

    .fa-book-reader {
        font-size: 65px;
    }

    .fa-film {
        font-size: 65px;
    }

    .fa-desktop {
        font-size: 65px;
    }
}
    @media screen and (min-width: 920px) and (max-width: 991px) {

        body {
            font-size: 15px;
        }

        .container {
            margin: 0px;
            max-width: none;
        }

        .col-left h3 {
            font-size: 20px;
        }

        .col-right h3 {
            font-size: 20px;
        }

        .a-propos {
            height: 650px;
        }

        .fa-book-reader {
            font-size: 65px;
        }

        .fa-film {
            font-size: 65px;
        }

        .fa-desktop {
            font-size: 65px;
        }
    }

    @media screen and (min-width: 991px) and (max-width: 1200px) {

        body {
            font-size: 15px;
        }

        .container {
            margin: 0px;
        }

        .col-left h3 {
            font-size: 20px;
        }

        .col-right h3 {
            font-size: 20px;
        }

        .a-propos {
            height: 650px;
        }

        .fa-book-reader {
            font-size: 65px;
        }

        .fa-film {
            font-size: 65px;
        }

        .fa-desktop {
            font-size: 65px;
        }
    }
    

